html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: rgba(0, 0, 0, .80);
    font-family: 'Source code pro', monospace;
    box-sizing: border-box;
}

/*
    background-color: rgb(30, 31, 39);
    color: rgba(255, 255, 255, .80);
*/

header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.514);
    height: 10vh;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    z-index: 15;
}

nav {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 5vw;
    color: rgba(255, 255, 255, .80);
    text-decoration: none;
    font-size: 30px;
}

.nav-item:hover {
    color: rgb(64, 75, 163);
}

.link {
    margin: 0;
    color: rgba(0, 0, 0, .80);
    text-decoration: none;
}

.anim{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(0, 0, 0, .80);
    position: relative;
    z-index: 3;
    font-size: 50px;
}

.title {
    text-align: center;
    font-size: 45px;
}

.bio {
    padding: 0 20vw;
    font-size: 25px;
    text-align: center;
}

/* Carousel */
.carousel-container {
    width: 70vw;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide-steam {
    display: flex;
    width: 100%;
}

.carousel-slide-steam > img {
    width: 70vw;
}

.carousel-slide-weather {
    display: flex;
    width: 100%;
}

.carousel-slide-weather > img {
    width: 70vw;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 10;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 10;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.project {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.even {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.95);
}

.odd {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, .90);
}

.project-name {
    font-size: 35px;
}

.project-img {
    width: 70vw;
    margin: 0;
}

.project > p {
    margin: 25px 20vw;
}

.button-odd {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    border: 3px solid rgba(0, 0, 0, .80);
    color: rgba(0, 0, 0, .80);
    border-radius: 3px;
    font-weight: bolder;
    font-size: 25px;
}

.button-even {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    border: 3px solid rgba(255, 255, 255, 0.95);;
    color: rgba(255, 255, 255, 0.95);;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 25px;
}

.contact-info {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding-bottom: 5vh;
}

.link:hover {
    cursor: pointer;
}

.link-img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0 20px;
}

.about {
    padding-top: 10vh;
    height: 50vh;
}

.proj {
    padding-top: 10vh;
}

.contact {
    padding-top: 10vh;
}

/* Animations */

.name {
    animation: typewriter 2s steps(14) 1.5s 1 normal both,
                blinkingCursor 600ms steps(14) 10 forwards;
}

.anim {
    animation: slideTitle 1.5s linear 6s 1 both;
}

.hide {
    animation: revealContent 1s linear 7.5s 1 both;
}

body {
    animation: allowScroll 1ms linear 7.5s 1 both;
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 14ch;}
}

@keyframes blinkingCursor {
    from{border-right-color: rgba(0, 0, 0, .80);}
    to{border-right-color: transparent;}
}

@keyframes slideTitle {
    from{
        background-image: whitesmoke;
        color: rgba(0, 0, 0, 0.80);
    }
    to{
        background-image: url('./img/ezgif.com-optimize.gif');
        color: rgba(255, 255, 255, .9);
    }
}

@keyframes revealContent {
    from{visibility: hidden; opacity: 0;}
    to{visibility: visible; opacity: 1;}
}

@keyframes allowScroll {
    from{overflow: hidden;}
    to{overflow: visible;}
}